<div class="row">
  <% if @answers.any? %>
    <div id="lect-answers">
      <% @answers.each do |answer| %>
        <div class="col-sm-3">
          <div class="card">
            <div class="content">
              <h3><%= answer.value %></h3>
              <div class="footer">
                <hr>
                <div class="stats"><%= time_ago_in_words(answer.created_at) %></div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="col-sm-12">
      <h3>No answers. please share the answers link to students</h3>
    </div>
  <% end %>
</div>
