<div class="row">
  <% if @answers.any? %>
    <div id="lect-answers">
      <% @answers.each do |answer| %>
      <div class="col-sm-3">
        <div class="card answer-card">
          <div class="content">
            <h3><%= answer.value %></h3>
          </div>
        </div>
      </div>
        <!--<p class="bg-info answer-line"><strong>Anonymus: </strong><%= answer.value %> <small><%= time_ago_in_words(answer.created_at) %> ago</small></p>-->
      <% end %>
    </div>
  <% else %>
    <div class="col-sm-12">
      <h3>No answers. please share the answers link to students</h3>
    </div>
  <% end %>
</div>
