<div class="form-inline nested-fields hidden">
  <%= f.text_field :title, placeholder: "Enter an answer choice" %>
  <%= link_to_remove_association 'Remove', f, class:"btn btn-default btn-xs"%>
</div>
