<% @answers.each do |answer| %>
  <p class="bg-info answer-line"><strong><%= Faker::Name.first_name %>_<%= Faker::StarWars.droid %></strong> : <%= answer.value %> <small><%= time_ago_in_words(answer.created_at) %> ago</small></p>
<% end %>
