
  <% @answers.each do |answer| %>
    <p class="bg-info answer-line"><strong><%= display_username %></strong> : <%= answer.value %> <small><%= time_ago_in_words(answer.created_at) %> ago</small></p>
  <% end %>
