<div class="jumbotron">
  <h1 class="text-center"><%= @question.title %></h1>
</div>

<div id="answers">
  <%= render 'answer' %>
</div>
<hr>
<% if @question.choices.any? %>
  <div class="row">
      <%= render 'choices_form' %>
  </div>
<% else %>
  <div class="row">
    <div class="col-sm-12">
      <%= render 'form' %>
    </div>
  </div>
<% end %>
