<h1>
  <%= @question.title %>
</h1>

<div id="answers" class="jumbotron">
  <%= render 'answer' %>
</div>

<% if @question.choices.any? %>
  <div class="row">
    <%= render 'choices_form' %>
  </div>
<% else %>
  <div class="row">
    <%= render 'form' %>
  </div>
<% end %>
