<div class="tab-content">

<!-- CARDS -->
  <div id="tab-questions" class="col-md-12 tab-pane">
    <div class="card">
      <div class="header">
        <h4 class="title">Email Statistics</h4>
        <p class="category">Last Campaign Performance</p>
      </div>

      <div class="content">
        <%= render 'answerBox' %>
      </div>
    </div><!-- end card -->
  </div>

<!-- WORD CLOUD -->
  <div id="tab-replies" class="col-md-12 tab-pane">
    <div class="card">
      <div class="content">
        <div id="cloud"></div>
      </div>
    </div><!-- end card -->
  </div>

<!-- BAR CHART -->
  <div id="tab-stats" class="col-md-12 tab-pane active">
    <div class="card">
      <div class="header">
        <h4 class="title"><%= @question.title %></h4>
        <p class="category">Student Votes</p>
      </div>

      <div class="content">
        <!-- <div id="bar-chart" class="chart"></div> -->
        <canvas id="barChart" width="800" height="200"></canvas>
      </div>
    </div><!-- end card -->
  </div>

<!-- PIE CHART -->
  <div id="tab-pie"  class="col-md-12 tab-pane">
    <div class="card">
      <div class="header">
        <h4 class="title"><%= @question.title %></h4>
        <p class="category">Student Votes</p>
      </div>

      <div class="content">
        <!-- <div id="pie-chart" class="chart"></div> -->
        <canvas id="pieChart"></canvas>

      </div>
    </div><!-- end card -->
  </div>
</div>
