<!-- Sidebar Navigation -->

  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <% if current_user %>
        <li class="sidebar-brand">
          Welcome <%= current_user.first_name %>
        </li>
        <li><a href="#">Topics (<%= current_user.topics.count %>)</a></li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>

      <% else %>
          <li class="sidebar-brand">
            Classroom Clicker
          </li>
      <% end %>
      </ul>
    </div>

<!-- /#sidebar-wrapper -->
