<!-- Sidebar Navigation -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="#">Classroom Clicker</a></li>
    <li><a href="#">Topics (<%= Topic.count %>)</a></li>
      <ul class="sub-nav">

      </ul>
    <li><a href="#">Participants</a></li>
    </ul>
  </div>
<!-- /#sidebar-wrapper -->
